@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color:#dddd;
  
}
.card{
  width: 55%;
  height:33%;
  background-color:rgb(48, 48, 48);
  color:whitesmoke;
  margin:15% 25%;
  text-align:center;
  border-radius: 1em;
 
}
.card2{
  padding:1.5em;

}

.button{
 
  font-size:1.2em;
  background:rgb(45, 213, 255);
  border-radius: 0.7em;
  border-style: none;
  text-align:center;
  color:whitesmoke;

}
.bottom{
  display: flex;
  padding-top:2em;
  justify-content:space-around;
}
a{
  text-decoration:none;
  color:white;
  
}
.b2{
  margin:0em 0.5em;
  padding:1em 1em;
  color:whitesmoke;
  text-align: center;
  display:flex

}
.button>p{
  padding:0.1em 1em
}
i{
  font-size:24px
}

.color{
  
padding:0.1em;
 text-align:center;
 height:100vh
 
}

.bb{
  display: flex;
  justify-items: space;
}



